.container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.columns {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
    margin-bottom: 30px;
}
.column {
    background-color: pink;
    width: 5px;
    height: 50px;
    padding-bottom: 5px;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 1px 0px 1px
}
.controller {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.controller button {
    margin: 10px 25px;
}
.controller .slider {
    margin: 10px 25px;
}
.btn {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
}

.btn:hover, .btn:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.btn:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.btn:not(:disabled) {
    animation: enable 0.3s linear;
}

.column span {
    display: none;
}



.title {
    width: 100%;
    height: 70px;
    position: fixed;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    background-color: #DAD735;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 40px;
    color: white;
    background-color: #DAD735;
}
.footer a {
    text-decoration: none;
    color: #966909;
    font-size: large;
}

.slider {
    outline: none;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    display: flex;
    flex-direction: column-reverse;
}
.slider label {
    margin-bottom: 10px;
}
.slider:disabled {
    cursor: not-allowed;
    background: #C7C6C6;
}

input:disabled {
    cursor: not-allowed;
}

input[type="range"] {
    -webkit-appearance: none;
    background: #DAD735;
}

input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #DAD735;
    height: 10px;
}

input[type="range"]::-moz-range-track {
    background: #DAD735;
    height: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #966909;
    margin-top: -5px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #966909;
    margin-top: -5px;
    border-radius: 50%;
}



@media (min-width: 750px) {
    .column {
        width: 8px;
        margin: 0px 2px;
    }

    .controller {
        width: 75%;
        margin: 0px auto;
    }
}
@media (min-width: 950px) {
    .column {
        width: 15px;
        margin: 0px 2px;
    }

}
@media (min-width: 1200px) {
    .column {
        width: 25px;
        margin: 0px 2px;
    }
    .column span {
        display: inline;
    }
    .controller {
        flex-direction: row;
        justify-content: center;
    }
}